* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  max-width: 35rem;
  margin: 0 auto;
}

header {
  padding: 64px 0 64px 0;
}

header .intro-chunk {
  max-width: 24rem;
  padding: 0 24px;
}

header strong {
  color: hsl(160deg, 100%, 30%);
}

header .title {
  padding: 0 0 32px 0;
  font-size: 1.75rem;
}

header p {
  font-size: 1.25rem;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  padding: 64px 0;
  border-top: 8px solid hsl(0deg, 0%, 40%);
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding: 8px 24px;
}

.indented-heading {
  width: fit-content;
  padding: 16px 36px;
  margin-top: 0;
  margin-left: -36px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  font-size: 1.25rem;
}
